body{
background: #D8D8D8;
width: 1300px;
margin:0 500px 0 100px; 
}

.logo1{
width: 1300px;
background: white;
position: absolute;
top:0;
}

.imagem{
width: 60%;
float: left;
}

.texto1{
width: 35%;
float: right;
}


